body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}
nav {
  background-color: #11009e;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

ul {
  list-style: none;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #6528f7;
  color: #d7bbf5;
  margin: 0;
  padding: 1rem;
  height: 60vh;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadeIn 5s;
}

.hero h1 {
  margin: 0;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero h3 {
  text-shadow: 2px 2px 4px #000000;
  font-weight: normal;
}

.hero div {
  text-align: center;
}

.about {
  padding: 1rem 10rem;
  height: 60vh;
  background-color: #0a6ebd;
  color: hsl(215, 74%, 79%);
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  text-align: center;
  text-decoration: underline;
}

.experience {
  background-color: #a2d2ff;
  color: #2893f7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  background-color: #7895cb;
  color: #dcecfb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects h1 {
  text-align: center;
  text-decoration: underline;
}

.experience h1 {
  text-align: center;
  text-decoration: underline;
}

.projects li {
  width: 26rem;
  border: #dcecfb dashed;
  padding: 1rem;
}

.experience li {
  width: 26rem;
  border: #2893f7 dashed;
  padding: 1rem;
}

.projects img {
  width: 425px;
  height: 300px;
  object-fit: contain;
}

@media only screen and (max-width: 1000px) {
  .projects {
    padding: 0;
  }
  .experience {
    padding: 0;
  }
  .projects ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .experience ul {
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .about {
    font-size: 1em;
    padding: 1rem;
  }

  .about h3 {
    width: 80vw;
  }

  .experience li {
    width: 60vw;
  }

  .projects li {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects img {
    width: 60vw;
  }
}
